.signup-block h2 {
}

.signup-block > p {
  width: fit-content;
  margin: auto;
  font-size: 0.9rem;
}

.signup-block label,
input {
}

.signup-block label {
}

.signup-block input {
}

.signup-block button {
}
